{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">

</head>

<body>
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="card px-3">
                        <div class="card-body">
                            <h4 class="card-title">Awesome Todo list</h4>
                            <form action="{% url 'add' %}" method="post">
                                {% csrf_token %}
                            <div class="add-items d-flex">
                                <input name="name" type="text" class="form-control todo-list-input"
                                    placeholder="Nima qilmoqchisiz?">
                                <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Qo'shish</button>
                            </div>
                            </form>
                            <div class="list-wrapper">
                                <ul class="d-flex flex-column-reverse todo-list">
                                    {% for task in tasks %}
                                    <li class="{% if task.is_done %}completed{% endif %}">
                                        <form action="{% url 'tasks' %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input name="id" value="{{ task.id }}" class="checkbox" type="checkbox"
                                                    checked=""> {{ task.name }}
                                                <i class="input-helper"></i></label>
                                        </div> 
                                        <button  type="submit"><i class="fa-solid fa-check"></i></button>
                                        </form>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <script src="{% static 'main.js' %}"></script>
    <script src="https://kit.fontawesome.com/1257678c77.js" crossorigin="anonymous"></script>
</body>

</html>